<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/air">Air-conditiner</a></li>
            <li><a href="/freeze">Freeze</a></li>
            <li><a href="/microwave">Microwave</a></li>
            <li><a href="/washing">Washing machine</a></li>
            <li><a href="/promotion">Promotion</a></li>
            <li><a href="/location">Location</a></li>
            <li><a href="/showpro">Show Products</a></li>
        </ul>
    </div>
</nav>