@(pro1:Products,pro2:Products,pro3:Products,pro4:Products)
<div class="col-md-12">
    <div class="col-md-4">
        <br><br><br>
        <div class="panel panel-warning">
            <div class="panel-heading">P001</div>
            <div class="panel-body">
                <img src="/assets/images/mic1.jpg" width="300" height=300"><br>
                Name : @pro1.getName()<br>
                Detail : @pro1.getDetail()<br>
                Price : @pro1.getPrice()<br>
                Amount : @pro1.getAmount()
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <br><br><br>
        <div class="panel panel-warning">
            <div class="panel-heading">P002</div>
            <div class="panel-body">
                <img src="/assets/images/mic2.jpg" width="300" height=300"><br>
                Name : @pro2.getName()<br>
                Detail : @pro2.getDetail()<br>
                Price : @pro2.getPrice()<br>
                Amount : @pro2.getAmount()
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <br><br><br>
        <div class="panel panel-warning">
            <div class="panel-heading">P003</div>
            <div class="panel-body">
                <img src="/assets/images/mic3.jpg" width="300" height=300"><br>
                Name : @pro3.getName()<br>
                Detail : @pro3.getDetail()<br>
                Price : @pro3.getPrice()<br>
                Amount : @pro3.getAmount()
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <br><br><br>
        <div class="panel panel-warning">
            <div class="panel-heading">P004</div>
            <div class="panel-body">
                <img src="/assets/images/mic4.jpg" width="300" height=300"><br>
                Name : @pro4.getName()<br>
                Detail : @pro4.getDetail()<br>
                Price : @pro4.getPrice()<br>
                Amount : @pro4.getAmount()
            </div>
        </div>
    </div>
</div>

